:root {
  --indigo: #675aa9;
  --indigo-houver: #7d6dca;
  --indigo-active: #605499;
  --indigo-result: rgb(--indigo, --indigo-houver, --indigo-active);
  --white: #fff;
  --success: #10c469;
  --info: #35b8e0;
  --warning: #f9c851;
  --danger: #ff5b5b;
  --light: #323a46;
  --dark: #1c1f24;
  --white: #f1f5f7;
  --purple: #5b69bc;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto",sans-serif;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.main{
  max-width: 640px;
  margin: 50px auto;
  padding: 1.5rem;
  border-radius: 15px;
  background: #323a46;
  box-sizing: border-box;
  box-shadow: 0em 0rem 5rem #546072;
  border: 3px solid var(--indigo-houver)
}


form input, form label {
  /* display: block; */
  width: 90%;
  height: 40px;
  margin-top: 10px;
}

form input {
  font-size: 18px;
  height: 40px;
  padding: 0 20px;
  color: #323a46
}

form input:focus {
  outline: 3px solid var(--white);
}

button {
  /* display: block; */
  width: 10%;
  height: 43px;
  margin-top: 10px;
  }

form button {
  border: none;
  background-image: linear-gradient(to right, #5C258D 0%, #4389A2 51%, #5C258D 100%);
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  height: 43px;
  cursor: pointer;
  margin-top: 25px;
}

form button:hover {
  background: var(--indigo-houver);
  background-position: right center;
}

form button:active {
  background: var(--indigo-active);
}

.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tasks li:hover {
  background: var(--indigo-houver);
}

.tasks li .edit {
  margin-right: 5px;
  color: var(--success);
}

.tasks li .delete {
  margin-right: 5px;
  color: var(--danger);
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
  transition: all 600ms;
}